@font-face {
	font-family: 'Louis-George-Cafe';
	src: local('Louis-George-Cafe'),
		url('fonts/Louis-George-Cafe.ttf') format('truetype');
}

@font-face {
	font-family: 'Hakuna-Sans';
	src: local('Hakuna-Sans'), url('fonts/Hakuna-Sans.otf') format('opentype');
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: 'Louis-George-Cafe';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
